export(biomassF, 
	   clean.up.data,
	   freqs,
	   minusID,
	   shake,
	   isarF,
	   mciF,
	   minglingF,
	   mingling.index,
	   shannonF,
	   shannon.index,
	   simpsonF,
	   simpson.index,
	   dixon,
	   segregationFun,
	   print.segtest)

useDynLib(spatialsegregation)
	   